openapi: 3.2.0
info:
  title: Sorry Status Page Status Pages API
  description: The Sorry™ REST API provides programmatic access to manage status pages, components, notices, notice updates, and subscribers. Build automated incident communication workflows that keep your customers informed during outages and maintenance windows.
  version: v1
  contact:
    name: Sorry App Support
    url: https://docs.sorryapp.com/v1
  license:
    name: Proprietary
    url: https://www.sorryapp.com/
servers:
- url: https://api.sorryapp.com/v1
  description: Sorry App REST API v1
security:
- BearerAuth: []
tags:
- name: Status Pages
  description: Manage status pages in your account
paths:
  /pages:
    get:
      operationId: listPages
      summary: List Status Pages
      description: Displays a list of all status pages within the account.
      tags:
      - Status Pages
      responses:
        '200':
          description: Successful response with list of status pages
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagesResponse'
        '401':
          description: Unauthorized - invalid or missing bearer token
        '429':
          description: Rate limit exceeded - 10 requests per second
    post:
      operationId: createPage
      summary: Create Status Page
      description: Create a new status page for your account.
      tags:
      - Status Pages
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePageRequest'
      responses:
        '201':
          description: Status page created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageResponse'
        '400':
          description: Bad request - missing required fields
        '401':
          description: Unauthorized
  /pages/{page_id}:
    get:
      operationId: getPage
      summary: Get Status Page
      description: Retrieve details for a single status page.
      tags:
      - Status Pages
      parameters:
      - name: page_id
        in: path
        required: true
        description: Unique identifier for the status page
        schema:
          type: string
      responses:
        '200':
          description: Successful response with status page details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageResponse'
        '401':
          description: Unauthorized
        '404':
          description: Status page not found
    patch:
      operationId: updatePage
      summary: Update Status Page
      description: Update settings for a status page such as name, timezone, and support links.
      tags:
      - Status Pages
      parameters:
      - name: page_id
        in: path
        required: true
        description: Unique identifier for the status page
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdatePageRequest'
      responses:
        '200':
          description: Status page updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Status page not found
    delete:
      operationId: deletePage
      summary: Delete Status Page
      description: Delete the status page including all notices, components, and subscribers.
      tags:
      - Status Pages
      parameters:
      - name: page_id
        in: path
        required: true
        description: Unique identifier for the status page
        schema:
          type: string
      responses:
        '204':
          description: Status page deleted successfully
        '401':
          description: Unauthorized
        '404':
          description: Status page not found
components:
  schemas:
    UpdatePageRequest:
      type: object
      properties:
        name:
          type: string
        timezone:
          type: string
        support_email:
          type: string
          format: email
        support_telephone:
          type: string
        support_url:
          type: string
          format: uri
        visible_to_search:
          type: boolean
    CreatePageRequest:
      type: object
      required:
      - name
      properties:
        name:
          type: string
          description: Display name for the new status page
        timezone:
          type: string
          description: Timezone setting
        support_email:
          type: string
          format: email
        support_url:
          type: string
          format: uri
    PageResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/Page'
    PagesResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Page'
        count:
          type: integer
    Page:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the status page
        name:
          type: string
          description: Display name of the status page
        timezone:
          type: string
          description: Timezone for the status page
        state:
          type: string
          description: Current state of the status page
        support_email:
          type: string
          format: email
          description: Support contact email address
        support_telephone:
          type: string
          description: Support telephone number
        support_url:
          type: string
          format: uri
          description: Support URL
        locale:
          type: string
          description: Locale setting for the page
        visible_to_search:
          type: boolean
          description: Whether the page is visible to search engines
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: User-specific OAuth2 bearer token obtained from the Sorry app dashboard
