openapi: 3.2.0
info:
  title: Sorry Status Page Notice Updates API
  description: The Sorry™ REST API provides programmatic access to manage status pages, components, notices, notice updates, and subscribers. Build automated incident communication workflows that keep your customers informed during outages and maintenance windows.
  version: v1
  contact:
    name: Sorry App Support
    url: https://docs.sorryapp.com/v1
  license:
    name: Proprietary
    url: https://www.sorryapp.com/
servers:
- url: https://api.sorryapp.com/v1
  description: Sorry App REST API v1
security:
- BearerAuth: []
tags:
- name: Notice Updates
  description: Publish updates to active notices
paths:
  /pages/{page_id}/notices/{notice_id}/updates:
    get:
      operationId: listNoticeUpdates
      summary: List Notice Updates
      description: Displays a list of all updates for a single notice.
      tags:
      - Notice Updates
      parameters:
      - name: page_id
        in: path
        required: true
        schema:
          type: string
      - name: notice_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response with list of notice updates
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NoticeUpdatesResponse'
        '401':
          description: Unauthorized
        '404':
          description: Notice not found
    post:
      operationId: createNoticeUpdate
      summary: Create Notice Update
      description: Publish a new update to an existing notice.
      tags:
      - Notice Updates
      parameters:
      - name: page_id
        in: path
        required: true
        schema:
          type: string
      - name: notice_id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateNoticeUpdateRequest'
      responses:
        '201':
          description: Notice update created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NoticeUpdateResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
  /pages/{page_id}/notices/{notice_id}/updates/{update_id}:
    get:
      operationId: getNoticeUpdate
      summary: Get Notice Update
      description: Retrieve details of a single notice update.
      tags:
      - Notice Updates
      parameters:
      - name: page_id
        in: path
        required: true
        schema:
          type: string
      - name: notice_id
        in: path
        required: true
        schema:
          type: string
      - name: update_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response with notice update details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NoticeUpdateResponse'
        '401':
          description: Unauthorized
        '404':
          description: Notice update not found
    patch:
      operationId: updateNoticeUpdate
      summary: Update Notice Update
      description: Modify an existing notice update, such as correcting content.
      tags:
      - Notice Updates
      parameters:
      - name: page_id
        in: path
        required: true
        schema:
          type: string
      - name: notice_id
        in: path
        required: true
        schema:
          type: string
      - name: update_id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateNoticeUpdateRequest'
      responses:
        '200':
          description: Notice update modified successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NoticeUpdateResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
    delete:
      operationId: deleteNoticeUpdate
      summary: Delete Notice Update
      description: Remove an update from a notice without deleting the notice itself.
      tags:
      - Notice Updates
      parameters:
      - name: page_id
        in: path
        required: true
        schema:
          type: string
      - name: notice_id
        in: path
        required: true
        schema:
          type: string
      - name: update_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Notice update deleted successfully
        '401':
          description: Unauthorized
        '404':
          description: Notice update not found
components:
  schemas:
    CreateNoticeUpdateRequest:
      type: object
      required:
      - content
      properties:
        content:
          type: string
          description: Text content for the notice update
    NoticeUpdatesResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/NoticeUpdate'
        count:
          type: integer
    NoticeUpdateResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/NoticeUpdate'
    NoticeUpdate:
      type: object
      properties:
        id:
          type: string
        content:
          type: string
        should_publish:
          type: boolean
        link:
          type: string
          format: uri
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: User-specific OAuth2 bearer token obtained from the Sorry app dashboard
